@font-face {
    font-family: 'Circular Book';
    src: url('../fonts/Circular-Book.woff') format('woff')              
}
@font-face {
    font-family: 'Circular Bold';
    src: url('../fonts/Circular-Bold.woff') format('woff')              
}
body{
	font-family: 'Circular Book';
	overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
a{
	cursor: pointer;
}
.main-cover{
	background: url('../img/Cover.svg'), linear-gradient(0deg, rgba(255,198,11,1) 0%, rgba(255,217,96,1) 100%);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	position: relative;
	overflow: hidden;
}
.main-cover .header{
	padding-top: 7vh;
	text-align: center;
}
.main-cover .header img{
	height: 155px;
	margin: 0px auto 20px auto;
	display: block;
}
.button{
	text-decoration: none;
	padding: 15px;
	font-size: 16px;
	border-radius: 1000px;
	margin: 8px 0px 12px 0px;
	text-align: center;
	font-family: 'Circular Bold';
	display: block;
}
.link{
    font-size: 16px;
	font-family: 'Circular Bold';
    display: inline-block;
    margin: 24px 0px 0px 0px;
    border-bottom: 2px dotted #1979F2;
    padding-bottom: 4px;
    color: #1979F2;
}
.white{
	background-color: #FFFFFF;
}
.blue{
	background-color: #1979F2;
	color: #fff;
}
.yellow{
	background: #FEC629;
	color: #000;
}
.ghost{
	font-family: 'Circular Bold';
	background: transparent;
	color: rgba(0,0,0,0.6);
}
.blue-color{
	color: #1979F2;
}
.button-container{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10vh;
	padding: 16px;
}
.intro-text{
	font-size: 14px;
	line-height: 150%;
	color: #000;
	margin: 24px 0px 0px 0px;
	font-family: 'Circular Book';
	text-align: center;
    padding: 0px 16px;
}
.hide, .disabled{
	display: none;
}
.invisible{
	opacity: 0;
}
.logo{
	display: block;
	text-align: center;
	padding: 16px;
	position: relative;
}
.logo img{
	height: 32px;
}
.logo .heart{
    height: 17px;
    position: absolute;
    left: -4px;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}
.chapter-card-container{
	padding: 0px 8px 8px 8px; 
	overflow-y: hidden;
}
.chapter-container{
	height: calc(100vh - 74px);	
	overflow-y: auto;
	border-radius: 16px;
}
.chapter-card{
	background: #FFF8DE;
	border-radius: 16px;
	width: 100%;
	padding-bottom: 1px;
	margin-bottom: 16px;
	overflow: hidden;
}
.card-cover{
	height: 560px;
	width: 100%;
	position: relative;
	margin-bottom: 24px;
}
.card-cover img{
    width: 100% !important;
    height: 100% !important;
    display: block !important;
    object-fit: cover;
}
.card-cover .content{
    height: 140px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 16px;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.chapter-number{
	display: inline-block;
	width: 70px;
	padding: 8px 12px;
	border-radius: 1000px;
	background: #FFC42B;
	font-family: 'Circular Bold';
	font-size: 14px;
	color: #000;
}
.chapter-title{
	margin: 12px 0px 0px 0px;
	color: #fff;
	font-family: 'Circular Bold';
	font-size: 26px;
	line-height: 130%;
}
.card-question-container{
	margin-bottom: 32px;
	padding: 0px 16px
}
.card-question-container .title{
	font-family: 'Circular Book';
	font-size: 16px;
	color: #6E6963;
	line-height: 140%;
	margin-bottom: 8px;
}
.card-question-container .answer{
	font-family: 'Circular Book';
	font-size: 19px;
	color: #6E6963;
	line-height: 140%;
	margin: 0;
	color: #000;
}
.card-question-container .pill{
	background: #FFEDB3;
	padding: 8px 12px;
	color: #000000;
	font-size: 14px;
	font-family: 'Circular Book';
	margin-right: 8px;
	border-radius: 1000px;
	display: inline-block;
	margin-top: 8px;
}
.card-question-container .pill .emoji{
	margin-right: 4px;
	display: inline-block;
}
.card-question-container img{
	display: block;
	width: calc(100vw - 16px) !important;
	margin-left: -16px;
}
.card-question-container .fin{
	width: auto !important;
	height: 48px;
	margin: 16px auto !important;
	display: block;
}
.card-question-container .fineprint{
	font-size: 12px;
	color: rgba(0,0,0,0.6);
	margin: 16px 0px 0px 0px;
	line-height: 135%; 
}
.image-container{
	position: relative;
}
.image-container:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 140px;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);	
}
.caption{
	font-family: 'Circular Book';
	font-size: 14px;
	line-height: 140%;
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 16px;
	z-index: 1;
    margin: 0;
}
.card-yellow{
	height: 100%;
	background: linear-gradient(0deg, rgba(255,198,11,1) 0%, rgba(255,217,96,1) 100%);
	padding: 16px;
	width: auto;
	text-align: center;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	overflow-y: hidden;
  	margin: 0;
}
.card-yellow .header{
	height: 48px;
	width: auto !important;
	display: block;
	margin: 0px auto 16px auto;
}
.card-yellow .sub-header{
	font-family: 'Circular Bold';
	font-size: 20px;
	color: #000;
	margin: 0;
}
.card-yellow .match-dp, .card-yellow .match-check{
	height: 120px;
	width: auto !important;
	display: block;
	margin: 32px auto 32px auto;
}
.card-yellow .description{
	font-size: 16px;
	color: rgba(0,0,0,0.9);
	line-height: 135%;
	margin: 0 0 32px 0;
}
.bees-animation{
	position: relative;
	height: 300px;
	top: -60px;
}
.bee-left{
	transform: scaleX(-1);
    position: absolute;
    left: 0px;
    top: 0;
}
.bee-right{
    position: absolute;
    right: -10px;
    top: -15px;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 0px -8px;
    position: relative;
    top: 4px;
}
.progress{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 3px;
	background: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.progress-tile{
	width: 11.12vw;
	display: block;
	height: 100%;
	margin: 3px;
	border-radius: 1000px;
	background: #ccc; 
}
.progress-tile.filled{
	background: #FEC629 !important; 
}
/*.loader{
	display: none;
}*/
.marquee-container{
	margin: 0 auto;
	border-radius: 1000px;
	width: 255px;
	height: 48px;
	background: linear-gradient(180deg, #3D3D3D 0%, #000000 100%);
	text-align: center;
}
.marquee-text{
	color: #fff;
	font-family: 'Circular Bold';
	font-size: 20px;
	padding: 10px;
    margin: 0;
}
.loader-message{
	text-align: center;
	font-size: 18px;
	font-family: 'Circular Bold';
	font-size: 18px;
	margin-top: 110px;
	color: #000;
}
.loader-card{
	width: 100vw;
	height: 100vh;
	background: url('../img/Cover.svg'), linear-gradient(0deg, rgba(255,198,11,1) 0%, rgba(255,217,96,1) 100%);
	background-size: cover;
}

@media(min-width: 998px){
	body{
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center;
	    height: 100vh;
	    background-image: url('../img/bg-desktop.svg');
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.main-cover{
		width: 376px;
		height: 720px;
	    border-radius: 16px;
	    box-shadow: 0px 4px 24px rgba(0,0,0,0.07);
	}
	.button-container {
	    bottom: 20px;
	}
	.main-cover .header {
	    padding-top: 50px;
	}
	.chapter-container {
	    height: 646px;
		width: 360px;
	}
	.chapter-card-container {
	    width: 360px;
	    background: #fff;
	    border-radius: 16px;
	    box-shadow: 0px 4px 24px rgba(0,0,0,0.07);
	    position: relative;
	}
	.card-cover {
	    height: 480px;
	}
	.navbar{
		width: 360px;
		margin: 0px;
	}
	.progress{
		width: 360px;
		position: absolute;
	}
	.card-question-container img{
		width: 360px !important;
	}
	.loader{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		color: #fff;
		z-index: 999;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-image: url('../img/bg-desktop.svg');
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.loader-card{
		width: 376px;
		height: 720px;
		border-radius: 16px;
		background: url('../img/Cover.svg'), linear-gradient(0deg, rgba(255,198,11,1) 0%, rgba(255,217,96,1) 100%);
	}
}